@tailwind base;
@tailwind components;
@tailwind utilities;

.Character .swiper {
    padding-top: 50px;
    padding-bottom: 50px;
}

.Character .swiper-slide img{
    @apply blur-xl transition-all ease-in-out duration-300 visible w-fit h-fit;
    transform: translate(-500px, 0px) !important;
}

.Character .swiper-slide-active img{
    @apply blur-none transition-all ease-in-out duration-300 visible;
    transform: translate(-50px, 0px) !important;
}

.Character .swiper-slide-prev img{
    @apply blur-sm transition-all ease-in-out duration-300 visible;
    transform: translate(-40px, 0px) !important;
}

.Character .swiper-slide-next img{
    @apply blur-lg transition-all ease-in-out duration-300 visible;
    transform: translate(-70px, 0px) !important;
}

.selectChar .swiper {
    padding-top: 50px;
    padding-bottom: 50px;
}
  
.selectChar  .swiper-slide {
    @apply blur-md  transition-all ease-in-out duration-300;
    background-position: center;
    background-size: cover;
    width: 120px;
    height: fit-content;
}

.selectChar  .swiper-slide-active {
    @apply blur-none bg-transparent border transition-all ease-in-out duration-300 p-2 drop-shadow-lg;
}
  
.selectChar .swiper-slide-active img {
    @apply drop-shadow-lg;
}

.selectChar .swiper-slide img {
    display: block;
    width: 100%;
}

.gradient-naruto {
    background: rgb(235,146,77);
    background: linear-gradient(45deg, rgba(235,146,77,1) 0%, rgba(177,58,36,1) 100%);
}

.gradient-minato {
    background: rgb(215,198,66);
    background: linear-gradient(197deg, rgba(215,198,66,1) 0%, rgba(12,70,110,1) 100%);
}
  
.slide-right {
    animation: slideRight 1s ease 0s 1 normal forwards;
}

@keyframes slideRight {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.fade-bottom {
    animation: fadeBottom 1s ease 0s 1 normal forwards;
}

@keyframes fadeBottom {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}